# Session 2

## Intermezzo (Prettify your notebook)

### Header

# This is an <h1> tag
## This is an <h2> tag
###### This is an <h6> tag

### Text Styles

*This text will be italic*
_This will also be italic_

**This text will be bold**
__This will also be bold__

_You **can** combine them_

### Undordered List

* Item 1
* Item 2
  * Item 2a
  * Item 2b

### Ordered List

1. Item 1
1. Item 2
1. Item 3
   1. Item 3a
   1. Item 3b

## Basic Programming (Continues)

### Comments
Comment won't be run by the code, this is a very nice for documenting your code so in the future when you see it again you wont forget what you wrote

In [ ]:
# Calculate the total GC occurence in the DNA

def calculate_gc_occurence(dna_string):
    return dna_string.count("GC")

In [ ]:
def calculate_gc_occurence(dna_string):
    """
    This function is being used to calculate
    the GC occurence in the given DNA string
    """
    
    
    
    
    
    
    
    
    
    
    return dna_string.count("GC")

### Keyboard Input (IO in Python)
Sometimes we want to take an input from the user, Python can let you do this by using the `input` function

In [1]:
print("X")

X

In [2]:
dna_string = input()

ACTGTCGT

In [3]:
print(dna_string)

ACTGTCGT

In [4]:
dna_string = input("Please input your DNA string for the analysis: ")

Please input your DNA string for the analysis: AACGTGGATGTA

In [5]:
print(dna_string)

AACGTGGATGTA

In [11]:
sample_size = input("Please enter the sample size")

sample_size = sample_size * 2

print("You have multiplied your sample size to " + sample_size)

Please enter the sample size9
You have multiplied your sample size to 99

### Print (IO in Python)

In [17]:
bacteria_name = ["Bacteroides melaninogenicus", "Bacteria2", "Bacteria3"]

# print("The most common bacteria in the human gut is" + bacteria_name + "and it's being studied by many scientist")
# print("The most common bacteria in the human gut is " + bacteria_name  + " and it's being studied by many scientist")

In [18]:
print(f"The most common bacteria in the human gut is {bacteria_name[0]}, {bacteria_name[1]}, {bacteria_name[2]} and it's being studied by many scientist")

The most common bacteria in the human gut is Bacteroides melaninogenicus, Bacteria2, Bacteria3 and it's being studied by many scientist

## 2. Functions

Functions allow us to perform anything that we wrote inside it over and over again without the need to write the same thing over and over again.

### Function Calls

In [19]:
type(42)

int

In [20]:
int('32') + 2

34

In [21]:
float(32) + 2

34.0

In [22]:
x = "54"

In [23]:
int(x)

54

In [24]:
int('Hello')

ValueError: invalid literal for int() with base 10: 'Hello'

In [25]:
round(3.99999)

4

In [26]:
float('3.14159')

3.14159

### Import Functions
Sometimes the function that we need is not built in Python, so we have to import it using the `import` command

In [27]:
import math

In [28]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [29]:
math.pi

3.141592653589793

In [ ]:
pi = 3.14

In [30]:
math.sqrt(4)

2.0

In [32]:
from math import sqrt

In [34]:
import math as m

In [35]:
m.pi

3.141592653589793

In [ ]:
math.pi

### Installing Library
Sometimes the library that you need is not ready installed so you have to install it by yourself

In [36]:
import pandas as pd

In [ ]:
!pip install methseq

In [ ]:
import methseq

### Adding New Functions

Not all function is available so you have to add it yourself

In [37]:
dna_string = "ACGTGGGGAGGAACATAGTGGGATATAGAGTAGCCGATAGAT"
count_of_a = dna_string.count("A")
count_of_g = dna_string.count("G")
count_of_c = dna_string.count("C")
count_of_t = dna_string.count("T")

print(f"The total number of A is {count_of_a}")
print(f"The total number of G is {count_of_g}")
print(f"The total number of C is {count_of_c}")
print(f"The total number of T is {count_of_t}")

The total number of A is 14
The total number of G is 16
The total number of C is 4
The total number of T is 8

In [38]:
dna_string_2 = "ATGAAAATTATTCTTTTCTTGGCACTGATAACACTCGCTACTTGTGAGCTTTATCACTACCAAGAGTGTGTTAGAGGTA"
count_of_a = dna_string_2.count("A")
count_of_g = dna_string_2.count("G")
count_of_c = dna_string_2.count("C")
count_of_t = dna_string_2.count("T")

print(f"The total number of A is {count_of_a}")
print(f"The total number of G is {count_of_g}")
print(f"The total number of C is {count_of_c}")
print(f"The total number of T is {count_of_t}")

The total number of A is 22
The total number of G is 15
The total number of C is 14
The total number of T is 28

In [39]:
dna_string_3 = "TCCTCTAGCTGATAACAAATTTGCACTGACTTGCTTTAGCACTCAATTTGCTTTTGCT"
count_of_a = dna_string_3.count("A")
count_of_g = dna_string_3.count("G")
count_of_c = dna_string_3.count("C")
count_of_t = dna_string_3.count("T")

print(f"The total number of A is {count_of_a}")
print(f"The total number of G is {count_of_g}")
print(f"The total number of C is {count_of_c}")
print(f"The total number of T is {count_of_t}")

The total number of A is 13
The total number of G is 8
The total number of C is 14
The total number of T is 23

In [40]:
def count_and_report(dna_string):
    count_of_a = dna_string.count("A")
    count_of_g = dna_string.count("G")
    count_of_c = dna_string.count("C")
    count_of_t = dna_string.count("T")

    print(f"The total number of A is {count_of_a}")
    print(f"The total number of G is {count_of_g}")
    print(f"The total number of C is {count_of_c}")
    print(f"The total number of T is {count_of_t}")

In [43]:
count_and_report(dna_string_2)

The total number of A is 22
The total number of G is 15
The total number of C is 14
The total number of T is 28

In [44]:
count_and_report(dna_string_3)

The total number of A is 13
The total number of G is 8
The total number of C is 14
The total number of T is 23

In [45]:
def silly_function():
    print("You are silly!")

In [47]:
silly_function()

You are silly!

Function can take more than one input

In [48]:
def combine_two_dnas(sequence_one, sequence_two):
    print(f"{sequence_one}{sequence_two}")

In [49]:
combine_two_dnas(dna_string_2, dna_string_3)

ATGAAAATTATTCTTTTCTTGGCACTGATAACACTCGCTACTTGTGAGCTTTATCACTACCAAGAGTGTGTTAGAGGTATCCTCTAGCTGATAACAAATTTGCACTGACTTGCTTTAGCACTCAATTTGCTTTTGCT

In [50]:
def addition(x, y):
    return x + y

In [53]:
def addition_2(x, y):
    print(x+y)

In [55]:
b = addition_2(3, 4)

7

In [56]:
b

In [52]:
a = addition(1, 2)

In [57]:
a

3

In [58]:
def multiplication(x):
    return 2 * x * y

In [59]:
multiplication(3, 4)

TypeError: multiplication() takes 1 positional argument but 2 were given

In [66]:
x

'54'

In [71]:
def multiplication(x):
    return 2 * x

In [73]:
multiplication(3)

6

## 3. Logical Operators

### Floor Division and Modulus

In [74]:
dna_string = "ACG UGC GGU GUC A"

total_codon = len(dna_string) / 3
print(total_codon)

4.333333333333333

In [75]:
total_codon = int(len(dna_string) / 3)
print(total_codon)

4

In [76]:
total_codon = len(dna_string) // 3
print(total_codon)

4

In [77]:
dna_remains = len(dna_string) % 3
print(dna_remains)

1

In [81]:
103 % 2

1

### Boolean Expressions

Boolean expressions are very useful when we're doing conditionals

In [82]:
5 == 5

True

In [83]:
var1 = 6

In [84]:
5 == 6

False

In [85]:
var1 != 6

False

In [86]:
3 >= 3

True

- x != y # x is not equal to y
- x > y # x is greater than y
- x < y # x is less than y
- x >= y # x is greater than or equal to y
- x <= y # x is less than or equal to y

### Logical Operators

In [87]:
0 and True

0

In [90]:
False and False

False

In [91]:
True or False

True

In [92]:
True and True

True

### Conditional Execution

In [100]:
x = 3

In [96]:
if x > 2:
    print("x is greater than 2")

In [98]:
if True:
    print("You're correct")

You're correct

### Alternative Execution

In [102]:
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is odd

In [104]:
name = "SEAMEOR"

if len(name) > 6:
    print("Yes")
else:
    print("No")

No

In [ ]:
dna_string = "ACGTCGTGTC"

if len(dna_string) == 12:
    print
else:
    print

### Chained Execution

In [111]:
x = 2
y = 2
z = 3

In [112]:
if x < y and z < y:
    print('This')
elif x > y or z > y:
    print('That')
else:
    print('Those')

That

In [113]:
x = 3
y = 2

if x < 4:
    print("This")
elif y < 3:
    print("That")
else:
    print("Those")

This